.unstyled {
  list-style: none;
  text-decoration: none;
}
.homePic {
  height: 100%;
  width: 100%;
  justify-self: auto;
}
.spacer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.bgColor {
  background-color: rgb(10, 17, 27);
}
.bgColor1 {
  background-color: rgb(100, 170, 207);
}
.bgColor2 {
  background-color: black;
  border: rgb(100, 170, 207);
}
.rounded {
  border-radius: 15px 50px 30px 5px;
}
.font {
  font-family: "Montserrat", sans-serif;
}
.navSpacer {
  padding-top: 25px;
  padding-bottom: 25px;
}
